name: Documentation

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ '3.10' ]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Ubuntu - install libsndfile
      run: |
        sudo apt-get update
        sudo apt-get install --no-install-recommends --yes libsndfile1

    - name: Install uv
      uses: astral-sh/setup-uv@3259c6206f993105e3a61b142c2d97bf4b9ef83d

    - name: Install package
      run: |
        uv sync

    - name: Test building user documentation
      run: |
        uv run python -m sphinx docs/ build/html/ -b html -W
        uv run python -m sphinx docs/ build/html -b linkcheck -W

